code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #b3e6ff;
}

.title {
  text-align: center;
}

body {
  padding-left: 25%;
}

div {
  padding: 4px;
}

.logo {
  text-align: center;
}

label {
  font-size: 15px;
}

button {
  transition-duration: 0.4s;
  padding: 14px 40px;
}

button:hover {
  background-color: #008cba; /* Green */
  color: white;
}
